<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>learnMore</title>
<link rel="stylesheet" href="../static/learnMore.css">
</head>

<body>
  <div class="container">
    <div class="image-item">
      <img src="../static/sampleImages/cataract.jpg" alt="Cataract">
      <div class="overlay">
        <h2>Cataract</h2>
        <p>Cloudy appearance on the lens causing blurred vision, glare,
          and faded colors. Can lead to vision loss if untreated, especially in older adults.</p>
        <!-- add the detail -->
        <div class="detailed-info" style="display: none;">
          Detailed information about Cataract.
        </div>
      </div>
    </div>
    <div class="image-item">
      <img src="../static/sampleImages/diabetic_retinopathy.jpg" alt="Diabetic Retinopathy">
      <div class="overlay">
        <h2>Diabetic Retinopathy</h2>
        <p> Microaneurysms, hemorrhages, and exudates on the retina due to diabetes.
          Can progress to macular edema or retinal detachment, causing severe vision impairment.</p>
        <!-- add the detail instruction -->
        <div class="detailed-info" style="display: none;">
          Detailed information about Diabetic Retinopathy.
        </div>
      </div>
    </div>
    <div class="image-item">
      <img src="../static/sampleImages/glaucoma.jpg" alt="Glaucoma">
      <div class="overlay">
        <h2>Glaucoma</h2>
        <p> Optic nerve damage leading to peripheral vision loss.
          Increased intraocular pressure damages the optic nerve fibers. If untreated, can cause irreversible blindness.</p>
        <div class="detailed-info" style="display: none;">
          Detailed information about Glaucoma.
        </div>
      </div>
    </div>
    <div class="image-item">
      <img src="../static/sampleImages/normal.jpg" alt="Normal Retina">
      <div class="overlay">
        <h2>Normal Retina</h2>
        <p>healthy retina without any visible abnormalities.
          Consistent monitoring of retinal health is important to detect early signs of potential eye diseases.</p>
        <!-- add the detail instruction -->
        <div class="detailed-info" style="display: none;">
          Detailed information about Normal Retina.
        </div>
      </div>
    </div>
  </div>
  <script src="../js/web.js"></script>
</body>
<div class="footer">
    <p>Start to recognise the retinal image</p>
    <a href="detect_page" class="btn">Start</a>
  </div>

</html>
